:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --prelast-text-color: rgba(255, 255, 255, 0.6);
  --last-text-color: rgba(255, 255, 255, 0.4);
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --background-blue: rgba(33, 150, 243, 0.9);
  --background-grey: rgba(47, 48, 58, 0.8);
  --border-input-email: rgba(255, 255, 255, 0.3);
  --border-input-email-shaddow: rgba(0, 0, 0, 0.15);
  --border-delimiter: rgba(255, 255, 255, 0.1);
  --border-portfolio-card: #eee;
  --top-line: #ececec;
  --color-icon: #afb1b8;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 80px;
  z-index: 2;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.title-reset {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.section {
  /* outline: 2px solid red; */
  padding: 94px 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid green; */
}

.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

/* Title */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  font-weight: 700;
}

.is-hidden {
  display: none;
}

.is-hidden-temp {
  opacity: 0;
  pointer-events: none;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.section-title {
  margin: 0;
  margin-bottom: 50px;
}

.title-products {
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;

  color: var(--secondary-text-color);
  background-color: var(--background-grey);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 1.15;
}

.products-position {
  display: flex;
  position: relative;

}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Text */

.section-text {
  line-height: 1.71;
}

/* Button */

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;

  color: var(--title-text-color);
  background-color: var(--filter-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

button:hover,
button:focus {  
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.button.secondary {
  margin-right: 8px;
  padding: 6px 22px;
  border-radius: 4px;

  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:nth-child(5n) {
  margin-right: 0;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.submit {
  display: inline-flex;
  margin-left: 12px;
  padding: 10px 28px;
  min-width: 200px;
  align-items: center;

  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.submit::after {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  /* outline: 1px solid #fff; */
  background-image: url('../images/icon-send.svg');
  background-repeat: no-repeat;
  content: '';
}

.button.modal-btn {
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  font-weight: 700;
  line-height: 1.87;
  /* letter-spacing: 0.06em;
  outline: 1px solid black; */
  cursor: pointer;
}

/* Header */
.page-header {
  position: fixed;
  min-height: 80px;
  width: 100%;
  background-color: var(--primary-bg-color);
  top: 0;
  left: 0;
  z-index: 1;
}

header {
  margin: 0;
}
.main-nav {
  display: flex;
}

.main-nav nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;

  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logo-header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo a {
  display: block;
}

.logo-span {
  color: var(--title-text-color);
}

.logofooter-cell {
  color: var(--secondary-text-color);
}

.site-nav .menu-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  /* outline: 1px solid rgb(12, 12, 0);
  background-color: rgb(233, 212, 144); */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav .logo {
  display: block;
}

.site-nav {
  display: flex;
  margin-left: 85px;
}

.menu-item {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-link:hover .menu .menu-link > .item  {
  background-color: aqua;
}

.menu-item + .menu-item {
  margin-left: 50px;
}

.menu-item + .menu-item {
  margin-left: 30px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.contact {
  display: inline-flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;

  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact + .contact {
  margin-left: 50px;
}

.contact svg {
  margin-right: 10px;
  fill: currentColor;
}

.contacts .contact:hover,
.contacts .contact:focus {
  fill: var(--accent-color);
}

.site-nav .menu-link:hover,
.site-nav .menu-link:focus {
  color: var(--accent-color);
}

.menu-link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  transform: translateX(-100%);
  bottom: 0;
}

.contacts .contact:hover,
.contacts .contact:focus {
  color: var(--accent-color);
}

.submenu {
display: flex;
flex-direction: column;
display: none;
position: absolute;
top: 100%;
left: 0;
}

.submenu-link {
  display: block;
  margin-bottom: 4px;
  color: var(--title-text-color);
  padding: 4px;
  border: 1px solid var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

/* Hero */

.hero {
  text-align: center;
}

.overlay {
  display: flex;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid green; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      var(--background-grey),
      var(--background-grey)
    ),
    url('../images/hero-img-s.jpg');
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button.hero {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Feature section */

.feature-section {
  border-bottom: 1px solid var(--border-delimiter);
}

.feature-img {
  margin-bottom: 30px;
}

.title.feature {
  margin-top: 0;
  margin-bottom: 10px;
}

.section-text.feature {
  margin-top: 0;
  margin-bottom: 0;
}

ul .feature.list {
  padding-left: 0;
}

/* Feature-list */

.feature-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-list .item {
  width: 270px;
  border-right-color: tomato;
  outline: red;
  margin-right: 30px;
}

.feature-list > .item::before {
  margin-bottom: 30px;
  display: block;
  content: '';
  height: 120px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

/* .feature-list > .item:nth-child(1)::before {
  background-image: url(../images/feature-1.svg);
}

.feature-list > .item:nth-child(2)::before {
  background-image: url(../images/feature-2.svg);
}

.feature-list > .item:nth-child(3)::before {
  background-image: url(../images/feature-3.svg);
}

.feature-list > .item:nth-child(4)::before {
  background-image: url(../images/feature-4.svg);
} */

.icon-antenna-1::before {
  background-image: url(../images/feature-1.svg);
}

.icon-clock-1::before {
  background-image: url(../images/feature-2.svg);
}

.icon-diagram-1::before {
  background-image: url(../images/feature-3.svg);
}

.icon-astronaut-1::before {
  background-image: url(../images/feature-4.svg);
}

.feature-list .item:nth-child(4n) {
  margin-right: 0;
}

/* Our-products */

.our-products {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.our-products .item {
  width: 370px;
  border-right-color: tomato;
  outline: red;
  margin-right: 30px;
}

.our-products .item:nth-child(3n) {
  margin-right: 0;
}

.products-img {
  display: block;
}

/* Team */

.team {
  background-color: var(--secondary-bg-color);
}

.team-content {
  padding: 30px 32px 24px;
}

.team img {
  margin: 0;
  max-width: 100%;
}

.team-member h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-member {
  margin-bottom: 10px;
}

.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.member {
  /* width: calc((100% - 30px * 3) / 4); */
  width: 270px;
  background-color: var(--primary-bg-color);
  text-align: center;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon {
  fill: #fff;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  display: block;
  fill: var(--color-icon);
  width: 20px;
  height: 20px;
}

.social-icon:hover {
  fill: #fff;
}

/* team-list */

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .member {
  margin-right: 30px;
}

.team-list .member:nth-child(4n) {
  margin-right: 0;
}

/* Clientes */

.team-social {
  padding: 0;
  border: none;
  fill: var(--accent-color);
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  /* outline: 1px solid red; */
}

.logo-item:not(:last-child) {
  margin-right: 30px;
}

.logo-link {
  display: block;
  width: 170px;
  height: 90px;
  /* outline: 1px solid green; */
  border-radius: 4px;
  border: 1px solid currentColor;
  padding: 20px 40px;
  color: var(--color-icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.logo-svg {
  display: block;
  align-items: center;
  fill: currentColor;
  margin: auto;
}

.logo-link:hover {
  color: var(--accent-color);
}

/* Footer */

footer {
  background-color: var(--footer-bg-color);
}

.address {
  color: var(--secondary-text-color);
  font-style: normal;
  line-height: 1.71;
  margin: 0;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-container {
  padding-top: 48px;
  align-items: baseline;
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
}

.footer-left {
  margin-right: 30px;
}

.footer-center .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-center .social-link:hover,
.footer-center .social-link:focus {
  background-color: var(--accent-color);
}

.footer-right,
.footer-center,
.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-contact {
  color: var(--prelast-text-color);
  line-height: 1.71;
  font-style: normal;
}

.footer-center,
.footer-left {
  width: calc((50% - 45px) / 2);
}

.footer-right {
  width: calc((100% - 15px) / 2);
  margin-left: 15px;
}

.logo-footer {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.border-input {
  padding: 12px 18px;
  min-width: 358px;
  min-height: 50px;
  border: 1px solid var(--border-input-email);
  box-shadow: 0 4px 4px var(--border-input-email-shaddow);
  border-radius: 4px;

  background-color: var(--footer-bg-color);
}

.developed {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid var(--border-delimiter);

  color: var(--last-text-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Portfolio start*/
.cover-hover {
  position: relative;
}

.section.portfolio {
  border-top: 1px solid var(--top-line);
}

.container-portfolio {
  /* background-color: teal; */
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.cart-content {
  padding: 20px 24px;
  border-left: 1px solid var(--border-portfolio-card);
  border-right: 1px solid var(--border-portfolio-card);
  border-bottom: 1px solid var(--border-portfolio-card);
  z-index: 10;
}

.filter-button:hover,
.filter-button:focus {
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* .cover-text {
  position: absolute;
  opacity: 0;
  transition: opasity 4s linear cubic-bezier(0.4, 0, 0.2, 1);
} */

.cover-text {
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--background-blue);
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.56;
}

.project-link:hover .cover-text {
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  transform: translateY(0);
  opacity: 1;
   transition: opacity 4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 4s cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--background-blue);
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.56;
  z-index: 5;
}

.client-img,
.project-img {
  /* margin-bottom: 20px; */
  display: block;
}

.project-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-group {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  /* background-color: tomato; */
}

.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list .item:hover,
.portfolio-list .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
/* Portfolio end*/

/* Backdrop */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.modal {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 40px;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: bold;
  text-align: center;
  color: var(--title-text-color);
  background: #FFFFFF;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}